*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main{
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#left{
    float: left;
    width: 20%;
    height: 100%;
    background-color: darkseagreen;
    padding-top: 13%;
}

#left > *{
    padding-left: 5%;
}

#right{
    float: right;
    width: 40%;
    height: 100%;
    background-color: cornsilk;
    padding-left: 3%;
}

main{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

main h2{
    text-align: center;
}

#title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title h1{
    background-color: darksalmon;
    color: white;
    text-align: right;
    padding: 2% 2% 2% 15%;
}

h2{
    color: cornflowerblue;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: 5%;
}

section:not(#first-section){
    padding-top: 15%;
}

section > *:not(h2) {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
}

h1, h2{
    text-transform: uppercase;
}

aside{
    font-style: italic;
}

i{
    padding-right: 3%;
    color: lightcoral;
}

ul{
    list-style-type: none;
}

#left h2 {
    color: lightcoral;
}