*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    width: 100vw;
    height: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main{
    width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left{
    float: left;
    width: 20%;
    height: 90%;
    background-color: darkseagreen;
    padding-top: 13%;
    box-shadow: 1px 3px 8px 2px rgba(0,0,0,0.5);

}

#left > *{
    padding-left: 5%;
}

#right{
    float: right;
    width: 40%;
    height: 90%;
    background-color: cornsilk;
    padding-left: 3%;
    box-shadow: 1px 3px 8px 2px rgba(0,0,0,0.5);
}

main{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

main h2{
    text-align: center;
}

#title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}

#title h1{
    background-color: darkred;
    color: white;
    text-align: right;
    padding: 2% 1% 2% 15%;
    box-shadow: -3px 4px 8px 4px rgba(0,0,0,0.3), 3px 3px 0px 0px rgba(0,0,0,0.3);
    letter-spacing: 4px;
}

h2{
    color: cornflowerblue;
}

h2:hover{
    cursor: pointer;
}

img:not(.fig-img){
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: 5%;
    box-shadow: 1px 3px 8px 2px rgba(0,0,0,0.5);
}

section:not(#first-section){
    padding-top: 15%;
}

section > *:not(h2, #contact) {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
}

h1, h2{
    text-transform: uppercase;
}

aside{
    font-style: italic;
}

i{
    padding-right: 3%;
    color: darkred;
}

ul{
    list-style-type: none;
}

#left h2 {
    color: darkred;
}

a{
    text-decoration: none;
    color: black;
}

th{
    font-style: italic;
    font-size: 120%;
}

#experience tbody td{
    padding: 2%;
}

#experience tr td:not(:last-child){
    border-right: 1px solid black;
}


#comp li {
    display: inline-block;
}

#comp li:before{
    content: "▣";
    color: lightcoral;
}

input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: -1px 0px 6px rgba(66,66,66,.31);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}
input:focus {
    outline:none;
}

form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form > *{
    width: 100%;
    padding: 2%;
}

figcaption:not(.fig-caption){
    display: none;
}

dt {
    font-weight: bold;
}

dl,
dd {
    font-size: .9rem;
}

dd {
    margin-bottom: 1em;
    font-style: italic;
}

dt, dd {
    width: 50%;
}

dl{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px){
    body{
        width: 100vw;
    }
    #main{
        width: 100vw;
    }
    #left{
        width: 35%;
        height: 100%;
    }
    #right{
        width: 65%;
        height: 100%;
    }
    img{
        width: 50px;
        height: 50px;
    }
    #title{
        font-size: 80%;
    }
}

fieldset > *:not(legend) {
    width: 100%;
}

textarea{
    align-self: center;
    width: 100%;
}

.fig-img{
    width:524px !important;
}

#fig {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin-top: 5%;
    transform-style: preserve-3d;
}

.fig-caption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 100%;
}

#fig > * > * {
    width: 100%;
}

#back{
    position: absolute;
    z-index: -1;
    transform: rotateY(-180deg);
}